<!-- <ul *ngFor="let post of posts">
  <li>
    User ID : {{post.userId}}
    <br>Post ID : {{post.id}}
    <br>Post Name : {{post.title}}</li>
</ul> 
<div *ngIf="!user; else hasUser">
  <mat-spinner></mat-spinner>
</div>-->
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User ID </mat-header-cell>
      <mat-cell *matCellDef="let row" class="cursor-anchor" [routerLink]="['/blog/user',row?.userId]"> {{row.userId}}</mat-cell>
    </ng-container>



    <!-- title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TITLE </mat-header-cell>
      <mat-cell *matCellDef="let row" class="cursor-anchor" [routerLink]="['/blog/post',row?.id]"> {{row.title}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>